{% extends 'base.html.twig' %}

{% block title %}The Office GIF-tastic
{% endblock %}

{% block body %}
	<section class="homeBody min-vh-100">
		<h1 class="mx-auto col-8 text-center h1Home">Welcome to The Office GIF-tastic Collection</h1>

		<h2 class="mx-auto col-10 text-center h2Home">Experience the wackiness of Dunder Mifflin anytime, anywhere with our GIFs</h2>

		<div class="text-center">
			<a class="btn btn-primary originalBtn m-5" href="">
				<p class="my-3">See Random Gif</p>
			</a>
			<a class="btn btn-primary originalBtn m-5" href="{{ path("app_gif_browse") }}">
				<p class="my-3">Browse Collection</p>
			</a>
			<a class="btn btn-primary originalBtn m-5" href="">
				<p class="my-3">Log In</p>
			</a>
			<h2 class="mt-5">Have Fun !</h2>
			<img src="{{asset('build/images/HaveFun.gif')}}" alt="">
		</div>
	</section>
{% endblock %}
