{% extends 'base.html.twig' %}

{% block title %}Edit Gif{% endblock %}

{% block body %}
    <h1>Edit Gif</h1>

    {{ include('gif/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_gif_index') }}">back to list</a>

    {{ include('gif/_delete_form.html.twig') }}
{% endblock %}
