// assets/styles/global.scss

// customize some Bootstrap variables
$primary: #E79A30;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
    background-color: whitesmoke;
}

.bodyContent {
    height: 100%;
}

/** NAVBAR **/
.navbar {
    background-color: $primary;
}

.navLogo {
    width: 500px;
}

.navbar-toggler {
    width: 100px;
    height: 100px;
    padding: 0;
}

.navbar-toggler-icon {
    width: 80px;
    height: 100px;
}

/** END OF NAVBAR **/
.footer {
    background-color: $primary;
    position: absolute;
    bottom: 0;
    width: 100vw;
    min-height: 10vh;
}

.footerLogo {
    width: 300px;
}