// assets/styles/global.scss

// customize some Bootstrap variables
$primary: #E79A30;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
    background-color: whitesmoke;
}


/** NAVBAR **/
.navbar {
    background-color: $primary;
}

.navLogo {
    width: 400px;
}

.navbar-toggler {
    width: 100px;
    height: 100px;
    padding: 0;
}

.navbar-toggler-icon {
    width: 80px;
    height: 100px;
}

/** END OF NAVBAR **/

/** FOOTER **/